<nav aria-label="...">
  <ul class="pager">
    <% unless object_name == model_name.first %>
    <li><%= link_to "< Prev. #{model_name.name.downcase}", model_name.where("id < ?", object_name.id).last %></li>
    <% end %>
    <% unless object_name == model_name.last %>
      <li><%= link_to "Next #{model_name.name.downcase} >", model_name.where("id > ?", object_name.id).first %></li>
    <% end %>
  </ul>
</nav>